<script>
// This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {
	console.debug('statusChangeCallback');
	console.debug(response);
	if (response.status === 'connected') {
		// Notify the backend. The signed request is present in the fbsr_ cookie
		$.post('/facebook/login/client/', {
			user_id: response.authResponse.userID,
			access_token: response.authResponse.accessToken,
			expires_in: response.authResponse.expiresIn}
		);
	} else if (response.status === 'not_authorized') {
		// The person is logged into Facebook, but not your app.
		console.debug('Please log into this app.');
	} else {
		// The person is not logged into Facebook, so we're not sure if
		// they are logged into this app or not.
		console.debug('Please log into Facebook.');
	}
}

window.fbAsyncInit = function() {
	FB.init({appId: '{{ app_id }}',
		 status: true, // check login status
		 cookie: true, // enable cookies to allow server to access session,
		 xfbml: true, // enable XFBML and social plugins
		 oauth: true, // enable OAuth 2.0
		 version: 'v{{ version }}'
	});

	FB.getLoginStatus(function(response) {
		console.debug("FB SDK Get Login Status")
		statusChangeCallback(response);
	});

	// Send a POST to the server notifying it somebody logged in, and pass the
	// access_token.
	FB.Event.subscribe('auth.login', function(response) {
		statusChangeCallback(response);
	});
	{{ code|safe }}
}
</script>

